@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

#logo {
  display: flex;
  align-items: center;
}

#logo p {
  color: white;
  margin: 10px auto 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
